---
import Base from '../layouts/Base.astro';
import Nav from '../components/layout/Nav.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
  </main>
  <Footer />
</Base>
